.container-stad {
  display: flex;
  gap: 10px;

  nb-card {
    width: 200px;
  }
}

.title-filter {
  margin: 0 0 10px 0;
}

.container-info {
  display: flex;
  margin: 10px;
  .value {
      font-size: 31px;
      display: flex;
      justify-content: center;
      width: 80%;
      align-items: center;
  }
}
