main {
    display: flex;
    justify-content: space-between;
}

// canvas {
//     width: 400px !important;
//     height: 400px !important;
// }
.container-charts {
    display: flex;
    justify-content: space-around;
}